<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew(iduser)"></button>

                    </div>
                </ng-template>

            </p-toolbar>

            <p-table #dt [value]="deviss" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['numerodevis','datedevis']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedDevis" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">List of Invoice</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id" >ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="numerodevis">NumeroDevis <p-sortIcon field="numerodevis"></p-sortIcon></th>
                        <th pSortableColumn="datedevis">DateDevis <p-sortIcon field="datedevis"></p-sortIcon></th>
                        <th pSortableColumn="product">Product<p-sortIcon field="product"></p-sortIcon></th>
                        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                        <th><i style="width: 5rem" class="pi pi-cog"></i></th>

                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-devis>
                    <tr>
                        <td style="width:14%; min-width:10rem;">
                            {{devis.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{devis.numerodevis}}
                        </td>
                        <td style="width:14%; min-width:10rem;">

                            {{devis.datedevis}}
                        </td>
                        <td>
                          <p-button (click)="op.toggle($event)" icon="pi pi-eye" styleClass="p-button-rounded p-button-text"></p-button>
                        </td>
                          
                        <td>
                            <ng-container *ngFor="let product of devis.product">
                                <div>{{product.price}}</div>
                            </ng-container>
                        </td>
                          

                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editDevis(devis.id,devis, iduser)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteDevis(devis.id, iduser)"></button>
                                <button pButton pRipple icon="pi pi-print" class="p-button-rounded p-button-info" (click)="afficherDevis(devis.id)"></button>
                            </div>
                        </td>
                    </tr>
                    <p-overlayPanel #op [style]="{'width': '450px'}" [showCloseIcon]="true">
                        <ng-template pTemplate="content" >
                            <p-table  [value]="devis.product" selectionMode="single" [(selection)]="products" >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="name">Designation<p-sortIcon field="name"></p-sortIcon></th>
                                        <th pSortableColumn="quantity">Quantity<p-sortIcon field="quantity"></p-sortIcon></th>
                                        <th pSortableColumn="supplier">Supplier<p-sortIcon field="supplier"></p-sortIcon></th>
                                        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-product>
                                    <tr [pSelectableRow]="rowData">
                                        <td>{{product.designation}}</td>
                                        <td>{{product.quantity}}</td>
                                        <td>{{product.supplier}}</td>
                                        <td>{{product.price}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </ng-template>
                    </p-overlayPanel>
                </ng-template>

            </p-table>
        </div>

        <!--Ajouter Facture-->

        <p-dialog [(visible)]="Dialogdevis" [style]="{width: '450px'}" header="Invoice Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field" >
                    <label for="numerodevis">NumeroDevis</label>
                    <input type="text" pInputText id="numerodevis" [(ngModel)]="devis.numerodevis" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !devis.numerodevis}"/>
                </div>


                <div class="field">
                    <div>
                        <div class="container">
                            <span class="product">Product</span>
                            <button pButton pRipple icon="pi pi-plus" (click)="ajouterProduct()"></button>
                        </div>
                    </div>
    
                        <p-multiSelect [options]="products" optionLabel="designation" placeholder="Select a Product" [(ngModel)]="devis.product" ></p-multiSelect>
                </div>


                <div class="field">
                <label for="datedevis">Date Devis</label>
                <input type="date" pInputText id="datedevis" [(ngModel)]="devis.datedevis" >
                </div>

                <div class="field">
                     <label for="price">Price</label>
                     <ng-container *ngFor="let product of devis.product">
                        <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="TND"></p-inputNumber>
                    </ng-container>
                   
                </div>
               

            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-rounded p-button-info" (click)="saveDevis()"></button>
            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="deleteDevisDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="devis">Are you sure you want to delete <b>{{devis.numerodevis}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger" label="No" (click)="deleteDevisDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-info" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>

        </p-dialog>

        <!--Ajouter Product-->
        <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="code">Code</label>
                    <input type="text" pInputText id="code" [(ngModel)]="product.code" />
                </div>
                <div class="field">
                    <label for="designation">Designation</label>
                    <input type="text" pInputText id="designation" [(ngModel)]="product.designation" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.designation}"/>
                </div>
                <div class="field">
                    <label for="quantity">Quantity</label>
                    <p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
                </div>
                <div class="field">
                <label for="supplier">Supplier</label>
                <input type="text" pInputText id="supplier" [(ngModel)]="product.supplier" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.supplier}"/>
                </div>
                <div class="field">
                    <label for="price">Price</label>
                    <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="TND"></p-inputNumber>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="hideDialogProduct()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-rounded p-button-info" (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog>

       
        <!--Print Facture-->
        <p-dialog [(visible)]="afficheDevisDialog"  [style]="{width: '850px', height:'700px'}" header="FACTURE" [modal]="true" class="p-fluid">
            <p-table #dt [value]="deviss" >
            <ng-template pTemplate="content">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="numero">Numero Devis <p-sortIcon field="numero"></p-sortIcon></th>
                        <th pSortableColumn="product">Product<p-sortIcon field="product"></p-sortIcon></th>
                        <th pSortableColumn="datedevis">Date Devis <p-sortIcon field="datedevis"></p-sortIcon></th>
                        <th pSortableColumn="price">Price  <p-sortIcon field="price"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
            </ng-template>

                <ng-template pTemplate="body" let-devis >
                    <div *ngIf="devis.id === iddevis" class="invoice">
                        <!-- Rest of your invoice template code -->

                   <div class="invoice">
                   <div class="invoice-header">
                   <div class="invoice-company">

                    <img id="invoice-logo" alt="nst" class="logo-nst" src="/assets/demo/images/NST.png">
                    <div class="company-name">YOUR COMPANY</div>
                    <div class="company-name">NEURO SMART TECHNOLOGIES</div>
                    <div class="company-name">Technopole ElGhazela</div>
                   </div>
                    <div>

                        <div class="invoice-details">
                            <div class="invoice-label">DATE</div>
                            <div class="invoice-value">{{devis.datedevis}}</div>
                            <div class="invoice-label1">INVOICE #</div>
                            <div class="invoice-value1">{{devis.numerodevis}}</div>
                        </div></div>

                        <div class="invoice-items">
                            <p-table  [value]="devis.product" selectionMode="single" [(selection)]="products"  >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="name">Designation<p-sortIcon field="name"></p-sortIcon></th>
                                        <th pSortableColumn="quantity">Quantity<p-sortIcon field="quantity"></p-sortIcon></th>
                                        <th pSortableColumn="supplier">Supplier<p-sortIcon field="supplier"></p-sortIcon></th>
                                        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                                        <th pSortableColumn="total">Total <p-sortIcon field="total"></p-sortIcon></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-product>
                                    <tr [pSelectableRow]="rowData">
                                        <td>{{product.designation}}</td>
                                        <td>{{product.quantity}}</td>
                                        <td>{{product.supplier}}</td>
                                        <td>{{product.price}}</td>
                                        <td>{{calculateTotal(product.quantity, product.price)}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                         </div>

                     <div>
                       </div></div>

                      <button pbutton="" label="Print" type="button" icon="pi pi-Print" (click)="print()" style="width: 100px; height: 40px; margin-left: 700px;" class="p-element p-button p-component align-right print-button" >

                        <span class="button" class="p-button-icon p-button-icon-left pi pi-print" label="Print" aria-hidden="true"></span>
                        <span class="p-button-label">Print</span></button>

                    </div>
                </div>
                </ng-template>
    </p-table>
        </p-dialog>

    </div>
</div>
