<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedFactures()" [disabled]="!selectedFactures || !selectedFactures.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="factures" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedFactures" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">List of Factures</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id" >ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="numero">Numero Facture <p-sortIcon field="numero"></p-sortIcon></th>
                        <th pSortableColumn="idclient">ClientID <p-sortIcon field="idclient"></p-sortIcon></th>
                        <th pSortableColumn="datefacture">Date Facture <p-sortIcon field="datefacture"></p-sortIcon></th>
                        <th pSortableColumn="datevalidation">Date Validation <p-sortIcon field="datevalidation"></p-sortIcon></th>
                        <th pSortableColumn="montantttc">Montant TTC <p-sortIcon field="monatntttc"></p-sortIcon></th>
                        <th pSortableColumn="montantht">Montant HT <p-sortIcon field="monatntht"></p-sortIcon></th>
                        <th pSortableColumn="annee">Annee <p-sortIcon field="annee"></p-sortIcon></th>
                        <th><i style="width: 5rem" class="pi pi-cog"></i></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-facture>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="facture"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{facture.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{facture.numerofacture}}
                        </td>
                        <td style="width:14%; min-width:10rem;">                           
                            {{facture.clientid}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                          
                            {{facture.datefacture}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            
                            {{facture.datevalidation}}
                        </td>

                        <td style="width:14%; min-width:8rem;">
                           
                            {{facture.montanttc | currency:'USD'}}
                        </td>
        
                        <td style="width:14%; min-width:8rem;">
                           
                            {{facture.montantht | currency:'USD'}}
                        </td>
                       
                        <td style="width:14%; min-width:10rem;">
                          
                            {{facture.annee}}
                        </td>
                        
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editFacture(facture)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteFacture(facture)"></button>
                            </div>
                        
                    </tr>
                </ng-template>
            </p-table>
        </div>
        
        <p-dialog [(visible)]="DialogFacture" [style]="{width: '450px'}" header="Facture Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="numerofacture">Numero Facture</label>
                    <input type="text" pInputText id="numerofacture" [(ngModel)]="facture.numerofacture" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !facture.numerofacture}"/>
                </div>
                <div class="field">
                    <label for="clientid">ClientID</label>
                    <p-inputNumber id="clientid" [(ngModel)]="facture.clientid"></p-inputNumber>
                </div>
                <div class="field">
                <label for="datefacture">Date Facture</label>
                <input type="date" pInputText id="datefacture" [(ngModel)]="facture.datefacture" >
                </div>
                <div class="field">
                    <label for="datevalidation">Date Validation</label>
                    <input type="date" pInputText id="datevalidation" [(ngModel)]="facture.datevalidation" >
                    </div>
                <div class="field">
                     <label for="monatntttc">Montant TTC</label>
                    <p-inputNumber id="monatntttc" [(ngModel)]="facture.montanttc" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                    </div>
                <div class="field">
                    <label for="montantht">Montant HT</label>
                    <p-inputNumber id="montantht" [(ngModel)]="facture.montantht" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                </div>
               
                <div class="field">
                    <label for="annee">Annee</label>
                    <input type="text" pInputText id="annee" [(ngModel)]="facture.annee" >
                </div>
                
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveFacture()"></button>
            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="deleteFactureDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="facture">Are you sure you want to delete <b>{{facture.numerofacture}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteFactureDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteFacturesDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected factures?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteFacturesDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>