<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                       
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Imprimer" icon="pi pi-upload" class="p-button-help" (click)="printFacture()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="factures" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedFactures" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">List of Factures</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id" >ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="numero">Numero Facture <p-sortIcon field="numero"></p-sortIcon></th>
                        <th pSortableColumn="client">Client<p-sortIcon field="client"></p-sortIcon></th> 
                        <th pSortableColumn="product">Product<p-sortIcon field="product"></p-sortIcon></th>
                        <th pSortableColumn="datefacture">Date Facture <p-sortIcon field="datefacture"></p-sortIcon></th>
                        <th pSortableColumn="montantttc">Montant TTC <p-sortIcon field="monatntttc"></p-sortIcon></th>
                        <th pSortableColumn="montantht">Montant HT <p-sortIcon field="monatntht"></p-sortIcon></th>
                        <th><i style="width: 5rem" class="pi pi-cog"></i></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-facture>
                    <tr scope="row">
                        <td style="width:14%; min-width:10rem;">
                            {{facture.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{facture.numerofacture}}
                        </td>
                        <td style="width:14%; min-width:10rem;">                           
                            {{facture.client}}
                        </td>
                        <td style="width:14%; min-width:10rem;">                           
                            {{facture.product}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                          
                            {{facture.datefacture}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                           
                            {{facture.montanttc | currency:'USD'}}
                        </td>
        
                        <td style="width:14%; min-width:8rem;">
                           
                            {{facture.montantht | currency:'USD'}}
                        </td>
                       
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editFacture(facture.id,facture)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteFacture(facture.id)"></button>
                            </div>
                        
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <!--Ajouter Facture--> 
       
        <p-dialog [(visible)]="DialogFacture" [style]="{width: '450px'}" header="Facture Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="numerofacture">Numero Facture</label>
                    <input type="text" pInputText id="numerofacture" [(ngModel)]="facture.numerofacture" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !facture.numerofacture}"/>
                </div>
                  
               <div class="field">
                    <div>
                        <div class="container">
                            <span class="client">Client</span>
                            <button pButton pRipple icon="pi pi-plus" (click)="ajouterClient()"></button>
                        </div>
                    </div>
                
                    <p-dropdown formControlName="client" [options]="clients" optionLabel="username"></p-dropdown>
                
            </div>
               
                <div class="field">
                <div>
                    <div class="container">
                        <span class="product">Product</span>
                        <button pButton pRipple icon="pi pi-plus" (click)="ajouterProduct()"></button>
                    </div>
                </div>
                
                    <p-dropdown formControlName="product" [options]="products" optionLabel="designation"></p-dropdown>
                
                
              </div>       
              
              
                <div class="field">
                <label for="datefacture">Date Facture</label>
                <input type="date" pInputText id="datefacture" [(ngModel)]="facture.datefacture" >
                </div>
               
                <div class="field">
                     <label for="monatntttc">Montant TTC</label>
                    <p-inputNumber id="monatntttc" [(ngModel)]="facture.montanttc" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                    </div>
                <div class="field">
                    <label for="montantht">Montant HT</label>
                    <p-inputNumber id="montantht" [(ngModel)]="facture.montantht" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                </div>
               
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveFacture()"></button>
            </ng-template>
        </p-dialog>

        <!--Ajouter Client--> 
        <p-dialog [(visible)]="clientDialog" [style]="{width: '450px'}" header="Client Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                
                <div class="field">
                    <label for="username">Username</label>
                    <input type="text" pInputText id="name" 
                    [(ngModel)]="client.username" required autofocus
                     [ngClass]="{'ng-invalid ng-dirty' : submitted && !client.username}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !client.username"> Username is required.</small>
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="email" id="email" pInputText [(ngModel)]="client.email" required />
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <input type="password" id="password" pInputText [(ngModel)]="client.password" required />
                </div>
                <div class="field">
                    <label for="adresse">Adresse</label>
                    <input type="text" id="adresse" pInputText [(ngModel)]="client.adresse" required />
                </div>
                <div class="field">
                    <label for="telephone">Telephone</label>
                    <input type="text" id="telephone" pInputText [(ngModel)]="client.telephone" required />
                </div>
                
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialogClient()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveClient()"></button>
            </ng-template>
        </p-dialog>
 <!--Ajouter Product--> 
        <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="code">Code</label>
                    <input type="text" pInputText id="code" [(ngModel)]="product.code" />
                </div>
                <div class="field">
                    <label for="designation">Designation</label>
                    <input type="text" pInputText id="designation" [(ngModel)]="product.designation" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.designation}"/>
                </div>
                <div class="field">
                    <label for="quantity">Quantity</label>
                    <p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
                </div>
                <div class="field">
                <label for="supplier">Supplier</label>
                <input type="text" pInputText id="supplier" [(ngModel)]="product.supplier" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.supplier}"/>
                </div>
                <div class="field">
                    <label for="price">Price</label>
                    <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialogProduct()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog>
    
        <p-dialog [(visible)]="deleteFactureDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="facture">Are you sure you want to delete <b>{{facture.numerofacture}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteFactureDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteFacturesDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected factures?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteFacturesDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>