
<html>
    <style>
        ul{
    background-color: #2e3035;
    text-align: left;
    overflow: hidden
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
    <script src="my-script.js"></script>
   <div class="layout-topbar">
    <a class="layout-topbar-logo" >
        <img src="assets/layout/images/billinglogo.png">
        <span>AGF</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
       
        <button class="p-link layout-topbar-button" [routerLink]="'/users'" >
            <i class="pi pi-user"></i>
            
        </button>
       
      

        <p-overlayPanel #op [dismissable]="false">
            <ng-template pTemplate="content"  >
               
                 <p-button icon="pi pi-user" label="Account" (onClick)="openEditForm()" ></p-button> <br> 
                
                 <div *ngIf="editFormOpen">
                    <ng-template pTemplate="content">
                
                        <div class="field">
                            <label for="username">Username</label>
                            <input type="text" pInputText id="name" 
                            [(ngModel)]="user.username" required autofocus
                            placeholder="Your Name" />
                            
                        </div>
                        <div class="field">
                            <label for="email">Email</label>
                            <input type="email" id="email" pInputText [(ngModel)]="user.email" required placeholder="Your Email"/>
                         </div>
                       <div class="field">
                            <label for="password">Password</label>
                            <input type="password" id="password" pInputText [(ngModel)]="user.password" required  placeholder="Your Password"/>
                        </div>
                    
                        <div class="field">
                            <label for="roles">Role</label>
                           
                           
                        </div>
                    </ng-template>
                  </div> 
                <p-button icon="pi pi-power-off" label="Logout" (onClick)="logout()"></p-button>
           
            </ng-template>
        </p-overlayPanel>

        <button class="p-link layout-topbar-button" (click)="op.toggle($event)"  id="button" (click)="toggleMenu()">
            <i class="pi pi-cog"></i>
            <span>Settings</span>     
        </button>   

       
       
       
       
       
    </div>
  
     
</div>
    

 </body>
 </html>