
<html>
    <style>
        ul{
    background-color: #2e3035;
    text-align: left;
    overflow: hidden
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
    <script src="my-script.js"></script>
   <div class="layout-topbar">
    <a class="layout-topbar-logo" >
        <img src="assets/layout/images/billinglogo.png">
        <span>AGF</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
       
        <button class="p-link layout-topbar-button" [routerLink]="'/users'" >
            <i class="pi pi-user"></i>
            
        </button>
       


        <p-overlayPanel #op>
            <ng-template pTemplate="content">
                <h5><a href="profile.component.html"></a> <i class="pi pi-fw pi-sliders-h ng-tns-c86-0" ></i>Account </h5>
                
                <h5> <i class="pi pi-fw pi-sign-out ng-tns-c86-0"></i> Logout </h5>
                <p-button >Account</p-button>
                <p-button (click)="logout()">Logout</p-button>
           
            </ng-template>
        </p-overlayPanel>
        <button class="p-link layout-topbar-button"(click)="op.toggle($event)"  id="button" (click)="toggleMenu()">
            <i class="pi pi-cog"></i>
            <span>Settings</span>     
        </button>    
    </div>
  
</div>

    
    

 </body>
 </html>