
<html>
    <style>
        ul{
    background-color: #2e3035;
    text-align: left;
    overflow: hidden
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
    <script src="my-script.js"></script>
   <div class="layout-topbar">
    <a class="layout-topbar-logo" >
        <img class="logo" src="/assets/layout/images/logoagf.JPG"/>
       
        
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
       
        <button class="p-link layout-topbar-button" [routerLink]="'/users'" >
            <i class="pi pi-user"></i>
            
        </button>
       

        <p-overlayPanel #op [dismissable]="false" >
            <div class="button-container">
           <button pButton pRipple class="button1" class="pi pi-user" label="Account" (click)="showDialog(id)"></button> <br>
            </div>
            <div class="button-container">
           <button pButton pRipple class="button2" class="pi pi-power-off" label="Logout" (click)="logout()"></button>
          </div>
            
        </p-overlayPanel>
      

        <button class="p-link layout-topbar-button" (click)="op.toggle($event)"  id="button" (click)="toggleMenu()">
            <i class="pi pi-cog"></i>
            <span>Settings</span>     
        </button>   
    
   

        
   </div>
</div>

    

 </body>
 </html>